.sectionFive-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px 0px;
}

.sectionFive-container {
  display: grid;
  grid-template-columns: repeat(4, 0.6fr); /* For large screens (4 images per row) */
  gap: 0;
  width: 80%;
  max-width: 80%;
  min-width: 1000px; /* Ensures the container won't be smaller than 1000px */
}

.sectionFive-image img {
  width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 1000px) {
  .sectionFive-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 1 image per row */
    gap: 0;
    max-width: 100%;
    min-width: 100%; 
    
  }
}

